.forgot {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: auto;
  max-width: 716px;
  padding: 40px;
  text-align: start;
  border: 1px solid $color_gray_3;
  border-radius: 36px;
  color: $color_red;
  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .title h2 {
    font-size: 36px;
    font-weight: 700;
  }
  .title p {
    font-size: 16px;
    font-weight: 600;
    color: #797d85;
  }

  .forgotpassword {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .ant-input {
      border-radius: 16px;
      width: 636px;
      height: 52px;
    }

    .ant-btn {
      border-radius: 16px;
      width: 636px;
      height: 52px;
    }

    .send {
      background-color: $color_dark;
      color: $color_white;
      font-size: 16px;
      font-weight: 700;
    }
  }
}
