.footter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 24px;
  border: 1px solid var(--Boder, #dadde0);
  background: #fff;
  padding: 40px;
  padding-left: 40px;
  max-width: 1441px;
  margin: auto;
  width: 100%;
  .logo {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .img {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 10px;
      .text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        margin-top: 20px;
      }
    }
    .appp {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
    }
  }
  .privaci {
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: $color_prink_emo;
    font-size: 16px;
    font-weight: 600;
    
    .left {
      display: flex;
      gap: 30px;
    }
    .right{
      color: $color_prink_emo;
    }
  }
  @media only screen and (max-width: $breakpoint_tablet_max) {
    .privaci {
      max-width: 1440px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}

@media only screen and (max-width: $breakpoint_large_desktop_max) {
  .footter {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    border-radius: 24px;
    border: 1px solid var(--Boder, #dadde0);
    background: #fff;
    padding: 40px;
    padding-left: 40px;
    width: 1198 px;
    margin: auto;
    .logo {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        .text {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 600;
          font-size: 16px;
        }
      }
      .appp {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
      }
    }
    .privaci {
      max-width: 1440px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }
}
